<% unless @product_properties.blank? %>
  <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">
    <%#= Spree.t(:details) %>
    Ficha tecnica
  </h3>
  <ul id="product-properties" class="m-0 list-unstyled product-properies" data-hook>
    <% @product_properties.each do |product_property| %>
      <li>
        <span class="font-weight-bold text-break"><%= product_property.property.presentation %>:</span>
        <span class="text-break text-justify"><%= product_property.value %></span>
      </li>
      <hr>
    <% end %>
  </ul>
<% end %>
