<% @body_id = 'product-details' %>

<div class="container">
  <%= spree_breadcrumbs(@taxon, '', @product) %>
</div>

<% cache cache_key_for_product do %>
  <div class="container pt-4 product-details">
    <div class="row" data-hook="product_show">
      <%= render partial: 'gallery' %>
      <div class="col-12 col-md-5" data-hook="product_right_part">
        <div id="product-description" data-hook="product_right_part_wrap">
          <h1 class="mt-3 mt-md-0 text-center text-md-left product-details-title">
            <%= @product.name %>
          </h1>
          <div class="">
            <%= render partial: 'description' %>
          </div>
          <br>
          <div id="cart-form" data-hook="cart_form">
            <%= render 'cart_form', variant_change_identifier: 'productCarousel' %>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 pt-md-5 row" data-hook="product_description">
      <div class="col-md-10 offset-md-1" data-hook="product_properties">
        <%= render partial: 'properties' %>
      </div>
      <div class="col-12" data-hook="promotions">
        <%= render partial: 'promotions' %>
      </div>
    </div>

    <div class="homepage-fashion-trends-box mb-3">
      <div class="text-center">
        <!--<div class="homepage-fashion-trends-box-summer-text mb-1"><%= Spree.t('homepage.summer_2019') %></div>-->
        <!--<div class="homepage-fashion-trends-box-fashion-trends-text mb-2"><%= Spree.t('homepage.fashion_trends') %></div>-->
        <div class="homepage-fashion-trends-box-fashion-trends-text mb-2">¿Eres profesional de la salud?</div>
        <div class="homepage-fashion-trends-box-description-text text-center mb-3">
          <!--<%= Spree.t('homepage.fashion_trends_note') %>-->
          Suscribete al club de profesionales y recibe descuentos especiales en tus compras online
        </div>
        <%#= link_to Spree.t('homepage.read_more'), spree.nested_taxons_path('trending'), class: 'btn px-5 spree-btn btn-outline-primary' %>
        <%= link_to Spree.t('nav_bar.sign_up'), spree_signup_path, class: 'btn px-5 spree-btn btn-outline-primary' if defined?(spree_signup_path) %>
      </div>
    </div>
    
    <div id="no-product-available" class="no-product-available-dropdown">
      <%= render partial: 'spree/shared/no_product_available' %>
    </div>

    <%= render partial: 'gallery_modal' %>
  </div>
  <div id="related-products" />

  <%= products_structured_data([@product]) %>

  <%= render 'spree/shared/product_added_modal' %>
<% end %>

<div
  data-related-products
  data-related-products-id="<%= @product.slug %>"
  data-related-products-enabled="<%= @product.respond_to?(:has_related_products?) %>"
/>
